Repository nvbach91/4IZ268-2023-2024-ZS, pull requests merged in 2023-11, with the labels that each got.

#51 kuzd02-hw06
  www/kuzd02/kuzd02/cv01/index.html
  www/kuzd02/kuzd02/cv01/kuzd02/du1/blog.html
  www/kuzd02/kuzd02/cv01/kuzd02/du1/index.html
  www/kuzd02/kuzd02/cv01/kuzd02/du1/obrazek.png
  www/kuzd02/kuzd02/cv01/kuzd02/du1/obrazek1.jpeg
  www/kuzd02/kuzd02/cv01/kuzd02/du1/obrazek2.png
  www/kuzd02/kuzd02/cv01/kuzd02/du1/resume.html
  www/kuzd02/kuzd02/cv01/kuzd02/du1/test.html
  www/kuzd02/kuzd02/cv01/semantic.html
  www/kuzd02/kuzd02/cv03/Blog/index.html
  www/kuzd02/kuzd02/cv03/Blog/style.css
  www/kuzd02/kuzd02/cv03/Homework/index.html
  www/kuzd02/kuzd02/cv03/Homework/style.css
  www/kuzd02/kuzd02/cv04/task-grid/index.html
  www/kuzd02/kuzd02/cv04/task-grid/style.css
  www/kuzd02/kuzd02/cv04/task-page-layout/index.html
  www/kuzd02/kuzd02/cv04/task-page-layout/style.css
  www/kuzd02/kuzd02/cv06/index.html
  www/kuzd02/kuzd02/cv06/js/homework.js
Labels: pass, hw06

#45 talp03-hw06
  www/talp03/hw06/index.html
  www/talp03/hw06/js/homework.js
Labels: pass, hw06

#52 lozd00-hw06
  www/lozd00/hw06/hw06.html
  www/lozd00/hw06/js/homework.js
Labels: invalid, hw06

#57 jure01-hw06-vol2
  www/jure01/hw06/css/style.css
  www/jure01/hw06/index.html
  www/jure01/hw06/js/main.js
Labels: pass, hw06

#40 lanj21-hw06
  www/lanj21/cv06/homework.js
  www/lanj21/cv06/index.html
Labels: pass, hw06

#19 egea00-hw06
  www/egea00/hw06/index.html
  www/egea00/hw06/resources/hw.js
  www/egea00/hw06/resources/style.css
  www/egea00/hw06/resources/vars.css
Labels: pass, hw06

#16 bobd03-hw06
  www/bobd03/hw06/index.html
  www/bobd03/hw06/js/homework.js
Labels: pass, hw06

#43 telo00-hw06
  www/telo00/hw06/homework.js
  www/telo00/hw06/index.html
Labels: invalid, hw06

#58 trah09-hw06
  www/trah09/hw06/homework.js
  www/trah09/hw06/index.html
  www/trah09/hw06/styles.css
Labels: pass, hw06

#59 pavj12-hw06
  www/pavj12/hw06/index.html
  www/pavj12/hw06/js/homework.js
Labels: pass, hw06

#60 peta25-hw06
  www/peta25/hw06/index.html
  www/peta25/hw06/js/homework.js
Labels: pass, hw06

#61 kuza13 - hw06
  www/kuza13/hw06/cv6.js
  www/kuza13/hw06/index.html
Labels: pass, hw06

#48 biko00-hw06
  www/biko00/hw06/index.html
  www/biko00/hw06/js/homework.js
Labels: invalid, hw06

#62 kadm09-hw07
  www/kadm09/hw07/css/style.css
  www/kadm09/hw07/index.html
  www/kadm09/hw07/js/main.js
Labels: pass, hw07

#63 bobd03-hw07
  www/bobd03/hw07/css/main.css
  www/bobd03/hw07/images/rome.png
  www/bobd03/hw07/index.html
  www/bobd03/hw07/js/main.js
Labels: pass, hw07

#64 sykv01-hw07
  www/sykv01/hw07/css/main.css
  www/sykv01/hw07/index.html
  www/sykv01/hw07/js/main.js
Labels: pass, hw07

#67 hujl00-hw07
  www/hujl00/hw07/css/main.css
  www/hujl00/hw07/index.html
  www/hujl00/hw07/js/main.js
Labels: pass, hw07

#65 urbf01-hw07
  www/urbf01/hw07/css/main.css
  www/urbf01/hw07/css/main.css.map
  www/urbf01/hw07/css/main.scss
  www/urbf01/hw07/index.html
  www/urbf01/hw07/js/main.js
Labels: pass, hw07

#68 mata30-hw07
  www/mata30/hw07/index.html
  www/mata30/hw07/main.js
  www/mata30/hw07/style.css
Labels: pass, hw07

#69 egea00-hw07
  www/egea00/hw07/css/main.css
  www/egea00/hw07/index.html
  www/egea00/hw07/js/main.js
Labels: pass, hw07

#70 baia04-hw07
  www/baia04/hw07/index.html
  www/baia04/hw07/js/scripts.js
  www/baia04/hw07/styles/style.css
Labels: pass, hw07

#71 mati04-hw07
  www/mati04/hw07/css/main.css
  www/mati04/hw07/index.html
  www/mati04/hw07/js/main.js
Labels: pass, hw07

#72 hore06-hw07
  www/hore06/hw07/css/style.css
  www/hore06/hw07/index.html
  www/hore06/hw07/js/main.js
Labels: pass, hw07

#73 voze00-hw06
  www/voze00/hw06/index.html
  www/voze00/hw06/js/homework.js
Labels: pass, hw06

#75 lanj21-hw07
  www/lanj21/cv07/css/main.css
  www/lanj21/cv07/index.html
  www/lanj21/cv07/js/main.js
Labels: pass, hw07

#76 lism08-hw07
  www/lism08/hw07/css/main.css
  www/lism08/hw07/index.html
  www/lism08/hw07/js/main.js
Labels: pass, hw07

#77 jure01-hw07
  www/jure01/hw07/css/main.css
  www/jure01/hw07/index.html
  www/jure01/hw07/js/main.js
Labels: pass, hw07

#78 juha00-hw07
  www/juha00/hw07/css/main.css
  www/juha00/hw07/index.html
  www/juha00/hw07/js/main.js
Labels: pass, hw07

#80 vlcj07-hw07
  www/vlcj07/hw07/css/main.css
  www/vlcj07/hw07/index.html
  www/vlcj07/hw07/js/main.js
Labels: pass, hw07

#82 lubv00-cv07
  www/lubv00/cv07/css/main.css
  www/lubv00/cv07/index.html
  www/lubv00/cv07/js/main.js
Labels: pass, hw07

#83 pavj12-hw07
  www/pavj12/hw07/css/main.css
  www/pavj12/hw07/index.html
  www/pavj12/hw07/js/main.js
Labels: pass, hw07

#84 adad05-hw07
  www/adad05/hw07/css/main.css
  www/adad05/hw07/index.html
  www/adad05/hw07/js/main.js
Labels: pass, hw07

#86 stra24-hw07
  www/stra24/hw06/index.html
  www/stra24/hw06/js/homework.js
  www/stra24/hw07/homework/css/main.css
  www/stra24/hw07/homework/index.html
  www/stra24/hw07/homework/js/main.js
Labels: pass, hw07

#87 knyd00-hw07
  www/knyd00/hw07/css/main.css
  www/knyd00/hw07/index.html
  www/knyd00/hw07/js/main.js
Labels: pass, hw07

#88 brud06-hw07
  www/brud06/hw07/css/main.css
  www/brud06/hw07/index.html
  www/brud06/hw07/js/main.js
Labels: pass, hw07

#89 shei03-hw07
  www/shei03/hw07/css/main.css
  www/shei03/hw07/index.html
  www/shei03/hw07/js/main.js
Labels: pass, hw07

#90 elcs00-hw07
  www/elcs00/hw07/index.html
  www/elcs00/hw07/js/main.js
  www/elcs00/hw07/style.css
Labels: pass, hw07

#66 draj08-hw07
  www/draj08/hw07/css/main.css
  www/draj08/hw07/index.html
  www/draj08/hw07/js/main.js
Labels: pass, hw07

#91 sata03-hw07
  www/sata03/hw07/css/main.css
  www/sata03/hw07/index.html
  www/sata03/hw07/js/main.js
Labels: pass, hw07

#95 janm53-hw07
  www/janm53/hw07/css/main.css
  www/janm53/hw07/index.html
  www/janm53/hw07/js/main.js
Labels: pass, hw07

#100 kire02-hw07
  www/kire02/hw07/css/main.css
  www/kire02/hw07/index.html
  www/kire02/hw07/js/main.js
Labels: pass, hw07

#101 mikj18-hw07
  www/mikj18/hw07/css/styles.css
  www/mikj18/hw07/index.html
  www/mikj18/hw07/js/main.js
Labels: pass, hw07

#98 zabv04-hw07
  www/zabv04/hw07/css/style.css
  www/zabv04/hw07/index.html
  www/zabv04/hw07/js/main.js
Labels: pass, hw07

#102 kadv05-hw07
  www/kadv05/hw07/css/main.css
  www/kadv05/hw07/index.html
  www/kadv05/hw07/js/main.js
Labels: pass, hw07

#96 zabv04-hw06
  www/zabv04/hw06/homework.js
  www/zabv04/hw06/index.html
Labels: pass, hw06

#106 kuzd02-hw07
  www/kuzd02/kuzd02/cv07/index.html
  www/kuzd02/kuzd02/cv07/js/main.js
  www/kuzd02/kuzd02/cv07/style/style.css
Labels: pass, hw07

#108 pavj16-hw07
  www/pavj16/hw07/css/main.css
  www/pavj16/hw07/index.html
  www/pavj16/hw07/js/main.js
Labels: pass, hw07
