Repository nvbach91/4IZ268-2023-2024-ZS, pull requests merged in 2023-12, with the labels that each got.

#107 pank09-hw10
  www/pank09/hw10/css/styles.css
  www/pank09/hw10/index.html
  www/pank09/hw10/js/pexeso.js
Labels: pass, hw10

#109 vlcj07-hw10
  www/vlcj07/hw10/index.html
  www/vlcj07/hw10/js/main.js
  www/vlcj07/hw10/styles/style.css
Labels: pass, hw10

#111 hujl00-cv10
  www/hujl00/cv10/homework/css/style.css
  www/hujl00/cv10/homework/index.html
  www/hujl00/cv10/homework/js/main.js
Labels: pass, hw10

#112 mati04-hw10
  www/mati04/hw10/css/style.css
  www/mati04/hw10/index.html
  www/mati04/hw10/js/main.js
Labels: hw10

#114 urbf01-hw10
  www/urbf01/hw10/css/main.css
  www/urbf01/hw10/index.html
  www/urbf01/hw10/js/main.js
Labels: pass, hw10

#115 kadm09-hw10
  www/kadm09/hw10/css/main.css
  www/kadm09/hw10/index.html
  www/kadm09/hw10/js/main.js
Labels: pass, hw10

#116 baia04-hw10
  www/baia04/hw10/css/main.css
  www/baia04/hw10/index.html
  www/baia04/hw10/js/main.js
Labels: hw10

#119 janm53-hw10
  www/janm53/hw10/css/main.css
  www/janm53/hw10/index.html
  www/janm53/hw10/js/main.js
Labels: pass, hw10

#120 hore06-hw10
  www/hore06/hw10/css/style.css
  www/hore06/hw10/index.html
  www/hore06/hw10/js/main.js
Labels: pass, hw10

#123 egea00-hw10
  www/egea00/hw10/css/main.css
  www/egea00/hw10/index.html
  www/egea00/hw10/js/main.js
Labels: pass, hw10

#124 bobd03-hw10
  www/bobd03/hw10/css/main.css
  www/bobd03/hw10/index.html
  www/bobd03/hw10/js/main.js
Labels: pass, hw10

#125 lanj21-hw10
  www/lanj21/cv10/index.html
  www/lanj21/cv10/script.js
  www/lanj21/cv10/styles.css
Labels: pass, hw10

#131 knyd00-hw10
  www/knyd00/hw10/css/main.css
  www/knyd00/hw10/index.html
  www/knyd00/hw10/js/main.js
Labels: pass, hw10

#132 kire02-hw10
  www/kire02/hw10/css/styles.css
  www/kire02/hw10/index.html
  www/kire02/hw10/js/script.js
Labels: pass, hw10

#134 mala24-hw10
  www/mala24/hw10/css/main.css
  www/mala24/hw10/index.html
  www/mala24/hw10/js/f1_logo.svg
  www/mala24/hw10/js/main.js
Labels: pass, hw10

#135 jure01-hw10
  www/jure01/hw10/css/main.css
  www/jure01/hw10/index.html
  www/jure01/hw10/js/main.js
Labels: pass, hw10

#143 mata30-hw10
  www/mata30/HW10/index.html
  www/mata30/HW10/main.css
  www/mata30/HW10/main.js
Labels: pass, hw10

#110 lubv00-cv10
  www/lubv00/cv10/homework/css/main.css
  www/lubv00/cv10/homework/index.html
  www/lubv00/cv10/homework/js/main.js
Labels: pass, hw10

#121 sykv01-hw10
  www/sykv01/hw10/css/main.css
  www/sykv01/hw10/index.html
  www/sykv01/hw10/js/main.js
Labels: pass, hw10

#136 kask05-hw08
  www/kask05/hw08/css/main.css
  www/kask05/hw08/index.html
  www/kask05/hw08/js/main.js
Labels: pass, hw10

#126 brud06-hw10
  www/brud06/hw10/css/main.css
  www/brud06/hw10/index.html
  www/brud06/hw10/js/main.js
Labels: pass, hw10

#141 kuzd02-hw10
  www/kuzd02/kuzd02/cv10/homework/css/main.css
  www/kuzd02/kuzd02/cv10/homework/index.html
  www/kuzd02/kuzd02/cv10/homework/js/main.js
Labels: pass, hw10

#146 pank09-hw12
  www/pank09/hw12/index.html
  www/pank09/hw12/js/script.js
Labels: pass, hw12

#150 urbf01-hw12
  www/urbf01/hw12/css/style.css
  www/urbf01/hw12/css/style.css.map
  www/urbf01/hw12/css/style.scss
  www/urbf01/hw12/index.html
  www/urbf01/hw12/js/main.js
Labels: pass, hw12

#149 egea00-hw12
  www/egea00/hw12/css/main.css
  www/egea00/hw12/index.html
  www/egea00/hw12/js/main.js
Labels: invalid, hw12

#151 kuzd02-hw12
  www/kuzd02/kuzd02/cv12/homework/README.md
  www/kuzd02/kuzd02/cv12/homework/css/main.css
  www/kuzd02/kuzd02/cv12/homework/index.html
  www/kuzd02/kuzd02/cv12/homework/js/example.json
  www/kuzd02/kuzd02/cv12/homework/js/main.js
Labels: pass, hw12

#205 sata03-hw12
  www/sata03/hw12/css/main.css
  www/sata03/hw12/index.html
  www/sata03/hw12/js/example.json
  www/sata03/hw12/js/main.js
Labels: pass, hw12

#207 baia04-hw12
  www/baia04/hw12/index.html
  www/baia04/hw12/js/app.module.js
  www/baia04/hw12/js/app.service.js
  www/baia04/hw12/js/enums/Events.enum.js
  www/baia04/hw12/js/git/git.config.js
  www/baia04/hw12/js/git/git.controller.js
  www/baia04/hw12/js/git/git.module.js
  www/baia04/hw12/js/git/git.service.js
  www/baia04/hw12/js/main.js
  www/baia04/hw12/js/pages/page.controller.js
  www/baia04/hw12/js/pages/page.module.js
  www/baia04/hw12/js/pages/page.service.js
  www/baia04/hw12/js/pages/page.view.js
  www/baia04/hw12/styles/style.css
Labels: pass, hw12

#206 draj08-hw12
  www/draj08/hw12/css/main.css
  www/draj08/hw12/index.html
  www/draj08/hw12/js/main.js
Labels: pass, hw12

#209 mati04-hw12
  www/mati04/hw12/css/style.css
  www/mati04/hw12/index.html
  www/mati04/hw12/js/main.js
Labels: pass, hw12

#215 jure01-hw12
  www/jure01/hw12/css/style.css
  www/jure01/hw12/index.html
  www/jure01/hw12/js/main.js
Labels: pass, hw12
