Repository nvbach91/4IZ268-2023-2024-ZS, pull requests merged in 2024-01, with the labels that each got.

#218 mikj18-hw12
  www/mikj18/hw12/css/styles.css
  www/mikj18/hw12/index.html
  www/mikj18/hw12/js/main.js
Labels: pass, hw12

#216 hore06-hw12
  www/hore06/hw12/css/style.css
  www/hore06/hw12/index.html
  www/hore06/hw12/js/main.js
Labels: pass, hw12

#217 kask05-hw12
  www/kask05/hw09/css/main.css
  www/kask05/hw09/index.html
  www/kask05/hw09/js/example.json
  www/kask05/hw09/js/main.js
Labels: pass, hw12

#171 sime06-sp2
  www/sime06/sp2/css/style.css
  www/sime06/sp2/img/background.png
  www/sime06/sp2/img/favicon_16x16.png
  www/sime06/sp2/img/favicon_180x180.png
  www/sime06/sp2/img/favicon_32x32.png
  www/sime06/sp2/index.html
  www/sime06/sp2/js/main.js
Labels: valid PR, SP2, pending

#158 jana25-sp2
  www/jana25/sp2/css/style.css
  www/jana25/sp2/font/GAGASM__.TTF
  www/jana25/sp2/font/LEMONMILK-Light.otf
  www/jana25/sp2/game.js
  www/jana25/sp2/index.html
  www/jana25/sp2/js/profile.js
  www/jana25/sp2/js/script.js
  www/jana25/sp2/js/sounds.js
Labels: valid PR, SP2, pending

#157 baia04-sp2
  www/baia04/sp2/index.html
  www/baia04/sp2/js/app.module.js
  www/baia04/sp2/js/app.service.js
  www/baia04/sp2/js/configs/apis.config.js
  www/baia04/sp2/js/configs/config.js
  www/baia04/sp2/js/configs/events.js
  www/baia04/sp2/js/configs/language.config.js
  www/baia04/sp2/js/enums/events.enum.js
  www/baia04/sp2/js/enums/notifications.enum.js
  www/baia04/sp2/js/enums/routeData.enum.js
  www/baia04/sp2/js/main.js
  www/baia04/sp2/js/map/map.config.js
  www/baia04/sp2/js/map/map.controller.js
  www/baia04/sp2/js/map/map.module.js
  www/baia04/sp2/js/map/map.service.js
  www/baia04/sp2/js/map/map.view.js
  www/baia04/sp2/js/notification/notification.controller.js
  www/baia04/sp2/js/notification/notification.module.js
  www/baia04/sp2/js/notification/notification.service.js
  www/baia04/sp2/js/notification/notification.view.js
  www/baia04/sp2/js/pages/Marker.js
  www/baia04/sp2/js/pages/pages.controller.js
  www/baia04/sp2/js/pages/pages.module.js
  www/baia04/sp2/js/pages/pages.service.js
  www/baia04/sp2/js/pages/pages.view.js
  www/baia04/sp2/js/position/position.config.js
  www/baia04/sp2/js/position/position.controller.js
  www/baia04/sp2/js/position/position.module.js
  www/baia04/sp2/js/position/position.service.js
  www/baia04/sp2/js/route/Route.js
  www/baia04/sp2/js/route/route.controller.js
  www/baia04/sp2/js/route/route.module.js
  www/baia04/sp2/js/route/route.service.js
  www/baia04/sp2/js/utils/Place.js
  www/baia04/sp2/js/utils/getKilometersByMeters.js
  www/baia04/sp2/js/utils/getLanguageCode.js
  www/baia04/sp2/js/utils/getTimeBySeconds.js
  www/baia04/sp2/js/utils/secToMs.js
  www/baia04/sp2/styles/styles.css
Labels: valid PR, pass, SP2

#167 pank09-sp2
  www/pank09/sp2/assets/css/styles.css
  www/pank09/sp2/assets/favicon/android-chrome-192x192.png
  www/pank09/sp2/assets/favicon/android-chrome-512x512.png
  www/pank09/sp2/assets/favicon/apple-touch-icon.png
  www/pank09/sp2/assets/favicon/favicon-16x16.png
  www/pank09/sp2/assets/favicon/favicon-32x32.png
  www/pank09/sp2/assets/favicon/favicon.ico
  www/pank09/sp2/assets/favicon/site.webmanifest
  www/pank09/sp2/assets/icons/01d.svg
  www/pank09/sp2/assets/icons/01n.svg
  www/pank09/sp2/assets/icons/02d.svg
  www/pank09/sp2/assets/icons/02n.svg
  www/pank09/sp2/assets/icons/03d.svg
  www/pank09/sp2/assets/icons/03n.svg
  www/pank09/sp2/assets/icons/04d.svg
  www/pank09/sp2/assets/icons/04n.svg
  www/pank09/sp2/assets/icons/09d.svg
  www/pank09/sp2/assets/icons/09n.svg
  www/pank09/sp2/assets/icons/10d.svg
  www/pank09/sp2/assets/icons/10n.svg
  www/pank09/sp2/assets/icons/11d.svg
  www/pank09/sp2/assets/icons/11n.svg
  www/pank09/sp2/assets/icons/13d.svg
  www/pank09/sp2/assets/icons/13n.svg
  www/pank09/sp2/assets/icons/50d.svg
  www/pank09/sp2/assets/icons/50n.svg
  www/pank09/sp2/assets/icons/chevron-down.svg
  www/pank09/sp2/assets/icons/dummy.svg
  www/pank09/sp2/assets/js/app.js
  www/pank09/sp2/index.html
Labels: valid PR, pass, SP2

#184 lubv00-sp2
  www/lubv00/sp2/css/style.css
  www/lubv00/sp2/index.html
  www/lubv00/sp2/js/main.js
  www/lubv00/sp2/js/script.js
Labels: valid PR, pass, SP2

#183 adad05-sp2
  www/adad05/sp2/css/style.css
  www/adad05/sp2/index.html
  www/adad05/sp2/js/main.js
Labels: valid PR, SP2, pending

#225 kadv05-sp2
  www/kadv05/sp2/pokemon-idle/README.md
  www/kadv05/sp2/pokemon-idle/dist/assets/index-kYXx2yNa.css
  www/kadv05/sp2/pokemon-idle/dist/assets/index-qClXxWxd.js
  www/kadv05/sp2/pokemon-idle/dist/index.html
  www/kadv05/sp2/pokemon-idle/index.html
  www/kadv05/sp2/pokemon-idle/package-lock.json
  www/kadv05/sp2/pokemon-idle/package.json
  www/kadv05/sp2/pokemon-idle/src/App.css
  www/kadv05/sp2/pokemon-idle/src/App.jsx
  www/kadv05/sp2/pokemon-idle/src/components/OpponentSection.jsx
  www/kadv05/sp2/pokemon-idle/src/components/PointsSection.jsx
  www/kadv05/sp2/pokemon-idle/src/components/Pokemon.jsx
  www/kadv05/sp2/pokemon-idle/src/components/PokemonSection.jsx
  www/kadv05/sp2/pokemon-idle/src/components/StatsSection.jsx
  www/kadv05/sp2/pokemon-idle/src/components/Upgrade.jsx
  www/kadv05/sp2/pokemon-idle/src/components/UpgradesSection.jsx
  www/kadv05/sp2/pokemon-idle/src/main.jsx
  www/kadv05/sp2/pokemon-idle/vite.config.js
Labels: valid PR, pass, SP2

#227 auza00-sp2
  www/auza00/sp2/css/style.css
  www/auza00/sp2/img/background.jpg
  www/auza00/sp2/img/joint-favicon.png
  www/auza00/sp2/img/joint.png
  www/auza00/sp2/img/joint2.png
  www/auza00/sp2/img/joint3.png
  www/auza00/sp2/img/smoke3.png
  www/auza00/sp2/index.html
  www/auza00/sp2/js/form resize not working.js
  www/auza00/sp2/js/form.js
  www/auza00/sp2/js/map.js
  www/auza00/sp2/js/script.js
  www/auza00/sp2/main/index.html
Labels: valid PR, pass, SP2

#244 mata29-sp2
  www/mata29/sp2/img/omega_no_background_small.png
  www/mata29/sp2/img/spinner.gif
  www/mata29/sp2/index.html
  www/mata29/sp2/scripts/main.js
  www/mata29/sp2/scripts/switch.js
  www/mata29/sp2/styles/main.css
Labels: pass, SP2

#239 lanm16-sp2
  www/lanm16/sp2/css/style.css
  www/lanm16/sp2/img/background.jpg
  www/lanm16/sp2/img/snake.jpg
  www/lanm16/sp2/index.html
  www/lanm16/sp2/js/snake.js
  www/lanm16/sp2/sounds/ate.mp3
  www/lanm16/sp2/sounds/gameover.wav
Labels: pass, late PR

#236 mald10-sp2
  www/mald10/sp2/css/style.css
  www/mald10/sp2/index.html
  www/mald10/sp2/js/main.js
Labels: pass, SP2, late PR

#233 pavj16-sp2
  www/pavj16/sp2/css/style.css
  www/pavj16/sp2/home/index.html
  www/pavj16/sp2/js/main.js
  www/pavj16/sp2/pictures/favicon/png-transparent-weather-forecasting-logo-weather-blue-game-cloud.png
  www/pavj16/sp2/pictures/icons/OIP.jpeg
Labels: pass, SP2, late PR

#164 mata30-sp2
  www/mata30/sp2/css/style.css
  www/mata30/sp2/images/400 Error Bad Request-bro.svg
  www/mata30/sp2/images/clear.png
  www/mata30/sp2/images/clouds.png
  www/mata30/sp2/images/haze.png
  www/mata30/sp2/images/mist.png
  www/mata30/sp2/images/rain.png
  www/mata30/sp2/images/snow.png
  www/mata30/sp2/images/thunderstorm.png
  www/mata30/sp2/index.html
  www/mata30/sp2/js/main.js
  www/mata30/sp2/main.js
  www/mata30/sp2/style.css
Labels: valid PR, pass, SP2

#212 klea10-sp2
  www/klea10/sp2/public/index.html
  www/klea10/sp2/src/components/style.css
  www/klea10/sp2/src/img/favicon.png
  www/klea10/sp2/src/scripts/scripts.js
Labels: valid PR, pass, SP2

#156 vlcj07-sp2
  www/vlcj07/sp2/README.md
  www/vlcj07/sp2/package-lock.json
  www/vlcj07/sp2/package.json
  www/vlcj07/sp2/public/android-chrome-192x192.png
  www/vlcj07/sp2/public/android-chrome-512x512.png
  www/vlcj07/sp2/public/apple-touch-icon.png
  www/vlcj07/sp2/public/favicon-16x16.png
  www/vlcj07/sp2/public/favicon-32x32.png
  www/vlcj07/sp2/public/favicon.ico
  www/vlcj07/sp2/public/index.html
  www/vlcj07/sp2/public/manifest.json
  www/vlcj07/sp2/public/robots.txt
  www/vlcj07/sp2/src/App.js
  www/vlcj07/sp2/src/App.test.js
  www/vlcj07/sp2/src/assets/images/logo.png
  www/vlcj07/sp2/src/components/BookArea.js
  www/vlcj07/sp2/src/components/BookCard.js
  www/vlcj07/sp2/src/components/CategorySelector.js
  www/vlcj07/sp2/src/components/Collection.js
  www/vlcj07/sp2/src/components/Finder.js
  www/vlcj07/sp2/src/components/Footer.js
  www/vlcj07/sp2/src/components/Header.js
  www/vlcj07/sp2/src/components/Modal.js
  www/vlcj07/sp2/src/components/Pagination.js
  www/vlcj07/sp2/src/components/SearchBar.js
  www/vlcj07/sp2/src/components/SortSelector.js
  www/vlcj07/sp2/src/components/Spinner.js
  www/vlcj07/sp2/src/index.css
  www/vlcj07/sp2/src/index.js
  www/vlcj07/sp2/src/reportWebVitals.js
  www/vlcj07/sp2/src/setupTests.js
  www/vlcj07/sp2/src/utils/localStorage.js
  www/vlcj07/sp2/src/utils/paginationUtils.js
  www/vlcj07/sp2/tailwind.config.js
Labels: valid PR, pass, SP2

#203 kond12-sp2
  www/kond12/sp2/css/main.css
  www/kond12/sp2/css/style.css
  www/kond12/sp2/index.html
  www/kond12/sp2/js/main.js
Labels: valid PR, pass, SP2

#214 kuza13-hw12
  www/kuza13/css/main.css
  www/kuza13/hw12/css/main.css
  www/kuza13/hw12/index.html
  www/kuza13/hw12/js/main.js
  www/kuza13/index.html
  www/kuza13/js/main.js
Labels: pass, hw12

#240 java01-sp2
  www/java01/sp2/css/main.css
  www/java01/sp2/index.html
  www/java01/sp2/js/main.js
  www/java01/sp2/main.css
  www/java01/sp2/main.js
Labels: pass, SP2, late PR

#198 urbf01-sp2
  www/urbf01/sp2/.gitignore
  www/urbf01/sp2/README.md
  www/urbf01/sp2/package-lock.json
  www/urbf01/sp2/package.json
  www/urbf01/sp2/public/404.html
  www/urbf01/sp2/public/index.html
  www/urbf01/sp2/public/manifest.json
  www/urbf01/sp2/public/robots.txt
  www/urbf01/sp2/src/App.css
  www/urbf01/sp2/src/App.jsx
  www/urbf01/sp2/src/components/AddActivityForm.jsx
  www/urbf01/sp2/src/components/AppFooter.jsx
  www/urbf01/sp2/src/components/AuthContext.jsx
  www/urbf01/sp2/src/components/EditActivityForm.jsx
  www/urbf01/sp2/src/components/FeedContainer.jsx
  www/urbf01/sp2/src/components/FeedItem.jsx
  www/urbf01/sp2/src/components/Goal.jsx
  www/urbf01/sp2/src/components/Navbar.jsx
  www/urbf01/sp2/src/components/ProfileContainer.jsx
  www/urbf01/sp2/src/index.js
  www/urbf01/sp2/src/layout/PrivateRoutes.jsx
  www/urbf01/sp2/src/layout/PublicRoutes.jsx
  www/urbf01/sp2/src/pages/Activities.jsx
  www/urbf01/sp2/src/pages/ActivityDetail.jsx
  www/urbf01/sp2/src/pages/AddActivity.jsx
  www/urbf01/sp2/src/pages/EditActivity.jsx
  www/urbf01/sp2/src/pages/Goal.jsx
  www/urbf01/sp2/src/pages/Home.jsx
  www/urbf01/sp2/src/pages/Login.jsx
  www/urbf01/sp2/src/pages/Profile.jsx
  www/urbf01/sp2/src/pages/Settings.jsx
  www/urbf01/sp2/src/pages/Statistics.jsx
  www/urbf01/sp2/src/pages/StravaAuth.jsx
  www/urbf01/sp2/src/reportWebVitals.js
  www/urbf01/sp2/src/service/apiService.js
  www/urbf01/sp2/src/setupTests.js
Labels: valid PR, pass, SP2

#224 kask05-sp2
  www/kask05/sp2/css/style.css
  www/kask05/sp2/index.html
  www/kask05/sp2/js/main.js
  www/kask05/sp2/pictures/qmark.png
Labels: valid PR, pass, SP2

#242 lozd00-sp2
  www/lozd00/sp2/css/styles.css
  www/lozd00/sp2/index.html
  www/lozd00/sp2/js/app.js
Labels: pass, SP2, late PR

#238 pist02-sp2
  www/pist02/sp2/index.html
  www/pist02/sp2/scripts/index.js
  www/pist02/sp2/styles/style.css
Labels: pass, SP2, late PR

#166 egea00-sp2
  www/egea00/sp2/index.html
  www/egea00/sp2/resources/css/events.css
  www/egea00/sp2/resources/css/style.css
  www/egea00/sp2/resources/css/weather.css
  www/egea00/sp2/resources/img/weather_app_logo_BG.png
  www/egea00/sp2/resources/js/api/citiesApi.js
  www/egea00/sp2/resources/js/api/eventApi.js
  www/egea00/sp2/resources/js/api/weatherApi.js
  www/egea00/sp2/resources/js/api/wikiApi.js
  www/egea00/sp2/resources/js/app/jquery.js
  www/egea00/sp2/resources/js/app/main.js
Labels: valid PR, pass, SP2

#155 hore06-sp2
  www/hore06/sp2.zip
  www/hore06/sp2/css/style.css
  www/hore06/sp2/images/FitnessCauculator.png
  www/hore06/sp2/images/FitnessCauculatorIcon.png
  www/hore06/sp2/index.html
  www/hore06/sp2/js/main.js
Labels: valid PR, pass, SP2

#154 mati04-sp2
  www/mati04/sp2/css/style.css
  www/mati04/sp2/index.html
  www/mati04/sp2/js/main.js
Labels: valid PR, pass, SP2

#176 kuza13-sp2
  www/kuza13/sp2/index.html
  www/kuza13/sp2/js/appInitializer.js
  www/kuza13/sp2/js/authConfig.js
  www/kuza13/sp2/js/authManager.js
  www/kuza13/sp2/js/eventHandler.js
  www/kuza13/sp2/js/graphManager.js
  www/kuza13/sp2/js/index.js
  www/kuza13/sp2/js/notificationManager.js
  www/kuza13/sp2/js/taskManager.js
  www/kuza13/sp2/js/uiManager.js
  www/kuza13/sp2/js/userManager.js
  www/kuza13/sp2/readme.md
  www/kuza13/sp2/src/auth.js
  www/kuza13/sp2/src/css/main.css
  www/kuza13/sp2/src/graph.js
  www/kuza13/sp2/src/img/cross.svg
  www/kuza13/sp2/src/img/leaf.svg
  www/kuza13/sp2/src/img/ms-symbollockup_signin_light.png
  www/kuza13/sp2/src/img/tick.svg
  www/kuza13/sp2/src/index.html
  www/kuza13/sp2/src/index.js
  www/kuza13/sp2/src/ui.js
  www/kuza13/sp2/styles/css/main.css
  www/kuza13/sp2/styles/css/old main.css
  www/kuza13/sp2/styles/img/cross.svg
  www/kuza13/sp2/styles/img/favicon.svg
  www/kuza13/sp2/styles/img/leaf.svg
  www/kuza13/sp2/styles/img/ms-symbollockup_signin_light.png
  www/kuza13/sp2/styles/img/spinner.svg
  www/kuza13/sp2/styles/img/tick.svg
Labels: valid PR, pass, SP2

#179 sykv01-sp2
  www/sykv01/sp2/css/style.css
  www/sykv01/sp2/index.html
  www/sykv01/sp2/js/main.js
Labels: valid PR, pass, SP2

#266 lism08-sp2
  www/lism08/sp2/css/style.css
  www/lism08/sp2/index.html
  www/lism08/sp2/js/main.js
Labels: pass, SP2, late PR

#247 kuzd02-sp2
  www/kuzd02/kuzd02/sp2/build.css
  www/kuzd02/kuzd02/sp2/css/input.css
  www/kuzd02/kuzd02/sp2/index.html
  www/kuzd02/kuzd02/sp2/input.css
  www/kuzd02/kuzd02/sp2/jquery-3.7.1.min.js
  www/kuzd02/kuzd02/sp2/js/main.js
  www/kuzd02/kuzd02/sp2/main.js
Labels: pass, SP2, late PR

#189 draj08-sp2
  www/draj08/sp2/assets/css/main.css
  www/draj08/sp2/assets/img/favicon.png
  www/draj08/sp2/assets/img/loading.png
  www/draj08/sp2/assets/img/loading.svg
  www/draj08/sp2/assets/img/logo.png
  www/draj08/sp2/assets/img/waiting.svg
  www/draj08/sp2/index.html
  www/draj08/sp2/js/main.js
Labels: valid PR, pass, SP2

#271 kudj05-sp2
  www/kudj05/sp2/add_exercise/index.html
  www/kudj05/sp2/css/style.css
  www/kudj05/sp2/img/favicon.png
  www/kudj05/sp2/index.html
  www/kudj05/sp2/js/config.js
  www/kudj05/sp2/js/main.js
Labels: pass, SP2, late PR

#267 janm53-sp2
  www/janm53/sp2/README.md
  www/janm53/sp2/index.html
  www/janm53/sp2/media/favicon.png
  www/janm53/sp2/scripts/darkMode.js
  www/janm53/sp2/scripts/expenses.js
  www/janm53/sp2/scripts/main.js
  www/janm53/sp2/scripts/settings.js
  www/janm53/sp2/scripts/stock.js
  www/janm53/sp2/styles/style.css
Labels: pass, SP2, late PR

#181 hrak04-sp2
  www/hrak04/sp2/bookfinder.js
  www/hrak04/sp2/css/style.css
  www/hrak04/sp2/index.html
  www/hrak04/sp2/pictures/icon.svg
  www/hrak04/sp2/pictures/logo.svg
  www/hrak04/sp2/pictures/placeholder.svg
Labels: valid PR, SP2, pending

#188 juha00-sp2
  www/juha00/sp2/css/style.css
  www/juha00/sp2/img/favicon_180x180.png
  www/juha00/sp2/index.html
  www/juha00/sp2/js/main-jquery.js
Labels: valid PR, SP2

#174 kadm09-sp2
  www/kadm09/sp2/README.md
  www/kadm09/sp2/index.html
  www/kadm09/sp2/package-lock.json
  www/kadm09/sp2/package.json
  www/kadm09/sp2/src/App.vue
  www/kadm09/sp2/src/main.css
  www/kadm09/sp2/src/main.js
  www/kadm09/sp2/vite.config.js
Labels: valid PR, pass, SP2

#185 peta25-sp2
  www/peta25/sp2/css/style.css
  www/peta25/sp2/images/logo1-2.JPG
  www/peta25/sp2/index.html
  www/peta25/sp2/js/sp2.js
  www/peta25/sp2/utensils-solid.svg
Labels: valid PR, pass, SP2

#175 brud06-sp2
  www/brud06/sp2/assets/background.png
  www/brud06/sp2/assets/bomb.png
  www/brud06/sp2/assets/coin.png
  www/brud06/sp2/assets/input.html
  www/brud06/sp2/assets/music/coin.mp3
  www/brud06/sp2/assets/music/coin.ogg
  www/brud06/sp2/assets/music/dead.mp3
  www/brud06/sp2/assets/music/dead.ogg
  www/brud06/sp2/assets/music/jump.mp3
  www/brud06/sp2/assets/music/jump.ogg
  www/brud06/sp2/assets/player.png
  www/brud06/sp2/assets/player2.png
  www/brud06/sp2/assets/star.png
  www/brud06/sp2/assets/wallHorizontal.png
  www/brud06/sp2/assets/wallVertical.png
  www/brud06/sp2/css/style.css
  www/brud06/sp2/index.html
  www/brud06/sp2/js/game.js
  www/brud06/sp2/js/highscores.js
  www/brud06/sp2/js/load.js
  www/brud06/sp2/js/menu.js
  www/brud06/sp2/js/nickname.js
  www/brud06/sp2/js/play.js
Labels: valid PR, pass, SP2

#200 shei03-sp2
  www/shei03/sp2/src/App.css
  www/shei03/sp2/src/App.js
  www/shei03/sp2/src/CurrencyRow.css
  www/shei03/sp2/src/CurrencyRow.js
  www/shei03/sp2/src/HistoricalConverter.js
  www/shei03/sp2/src/index.js
  www/shei03/sp2/src/style.css
Labels: valid PR, SP2, pending

#255 vitd05-sp2
  www/vitd05/sp2/css/style.css
  www/vitd05/sp2/diagram.drawio
  www/vitd05/sp2/img/button.png
  www/vitd05/sp2/img/buttonR.png
  www/vitd05/sp2/img/buttonRe.png
  www/vitd05/sp2/img/buttonRed.png
  www/vitd05/sp2/img/space.png
  www/vitd05/sp2/img/spaceship01.png
  www/vitd05/sp2/img/spaceship02.png
  www/vitd05/sp2/img/spaceship03.png
  www/vitd05/sp2/img/ufo.png
  www/vitd05/sp2/index.html
  www/vitd05/sp2/js/api.js
  www/vitd05/sp2/js/main.js
Labels: pass, SP2, late PR

#180 kadf01-sp2
  www/kadf01/sp2/css/print.css
  www/kadf01/sp2/css/style.css
  www/kadf01/sp2/index.html
  www/kadf01/sp2/js/main.js
  www/kadf01/sp2/www/kadf01/sp2/css/print.css
  www/kadf01/sp2/www/kadf01/sp2/css/style.css
  www/kadf01/sp2/www/kadf01/sp2/index.html
  www/kadf01/sp2/www/kadf01/sp2/js/main.js
Labels: valid PR, pass, SP2

#249 mala24-sp2
  www/mala24/sp2/css/styles.css
  www/mala24/sp2/img/icon.png
  www/mala24/sp2/index.html
  www/mala24/sp2/js/main.js
Labels: pass, SP2, pending

#153 bobd03-sp2
  www/bobd03/sp2/css/responsive.css
  www/bobd03/sp2/css/style.css
  www/bobd03/sp2/index.html
  www/bobd03/sp2/js/main.js
Labels: valid PR, pass, SP2
