Repository nvbach91/4IZ268-2023-2024-ZS, pull requests merged in 2024-02, with the labels that each got.

#178 telo00-sp2
  www/telo00/sp2/app.js
  www/telo00/sp2/css/style.css
  www/telo00/sp2/index.html
  www/telo00/sp2/js/main.js
  www/telo00/sp2/main.js
  www/telo00/sp2/package-lock.json
  www/telo00/sp2/style.css
Labels: valid PR, SP2, pending

#204 cerj37-sp2
  www/cerj37/sp2/css/style.css
  www/cerj37/sp2/index.html
  www/cerj37/sp2/jscript/script.js
  www/cerj37/sp2/sounds/Woosh-Mark_DiAngelo-4778593.mp3
  www/cerj37/sp2/sounds/click.mp3
Labels: valid PR, SP2, pending

#287 zabv04-sp2
  www/zabv04/sp2/app.js
  www/zabv04/sp2/app.yaml
  www/zabv04/sp2/css/style.css
  www/zabv04/sp2/env.js
  www/zabv04/sp2/googleDriveApiKey.json
  www/zabv04/sp2/images/code.png
  www/zabv04/sp2/images/excel.png
  www/zabv04/sp2/images/favicon_io/android-chrome-192x192.png
  www/zabv04/sp2/images/favicon_io/android-chrome-512x512.png
  www/zabv04/sp2/images/favicon_io/apple-touch-icon.png
  www/zabv04/sp2/images/favicon_io/favicon-16x16.png
  www/zabv04/sp2/images/favicon_io/favicon-32x32.png
  www/zabv04/sp2/images/favicon_io/favicon.ico
  www/zabv04/sp2/images/favicon_io/site.webmanifest
  www/zabv04/sp2/images/file.png
  www/zabv04/sp2/images/music.png
  www/zabv04/sp2/images/picture.png
  www/zabv04/sp2/images/powerpoint.png
  www/zabv04/sp2/images/txt-file.png
  www/zabv04/sp2/images/video.png
  www/zabv04/sp2/images/word.png
  www/zabv04/sp2/index.html
  www/zabv04/sp2/js/main.js
  www/zabv04/sp2/package-lock.json
  www/zabv04/sp2/package.json
  www/zabv04/sp2/public/css/style.css
  www/zabv04/sp2/public/images/code.png
  www/zabv04/sp2/public/images/excel.png
  www/zabv04/sp2/public/images/favicon_io/android-chrome-192x192.png
  www/zabv04/sp2/public/images/favicon_io/android-chrome-512x512.png
  www/zabv04/sp2/public/images/favicon_io/apple-touch-icon.png
  www/zabv04/sp2/public/images/favicon_io/favicon-16x16.png
  www/zabv04/sp2/public/images/favicon_io/favicon-32x32.png
  www/zabv04/sp2/public/images/favicon_io/favicon.ico
  www/zabv04/sp2/public/images/favicon_io/site.webmanifest
  www/zabv04/sp2/public/images/file.png
  www/zabv04/sp2/public/images/music.png
  www/zabv04/sp2/public/images/picture.png
  www/zabv04/sp2/public/images/powerpoint.png
  www/zabv04/sp2/public/images/txt-file.png
  www/zabv04/sp2/public/images/video.png
  www/zabv04/sp2/public/images/word.png
  www/zabv04/sp2/public/js/main.js
Labels: pass, SP2, late PR

#293 vanm34-sp2
  www/vanm34/sp2/css/style.css
  www/vanm34/sp2/index.html
  www/vanm34/sp2/js/script.js
Labels: pass, SP2

#281 smem09-sp2
  www/smem09/sp2/css/style.css
  www/smem09/sp2/img/liquor.png
  www/smem09/sp2/index.html
  www/smem09/sp2/js/main.js
Labels: pass, SP2, late PR

#201 elcs00-sp2
  www/elcs00/sp2/css/styles.css
  www/elcs00/sp2/img/music.svg
  www/elcs00/sp2/index.html
  www/elcs00/sp2/js/main.js
  www/elcs00/sp2/main.js
  www/elcs00/sp2/music.svg
  www/elcs00/sp2/styles.css
Labels: valid PR, SP2, pending

#297 mikj18-sp2
  www/mikj18/sp2/css/styles.css
  www/mikj18/sp2/img/sun-ico.png
  www/mikj18/sp2/index.html
  www/mikj18/sp2/js/main.js
Labels: pass, SP2

#283 kvaj02-sp2
  www/kvaj02/sp2/assets/css/style.css
  www/kvaj02/sp2/assets/img/bg.jpg
  www/kvaj02/sp2/assets/img/logo.png
  www/kvaj02/sp2/index.html
  www/kvaj02/sp2/js/main.js
Labels: pass, SP2, pending

#199 talp03-sp2
  www/talp03/sp2/css/style.css
  www/talp03/sp2/img/favicon.png
  www/talp03/sp2/index.html
  www/talp03/sp2/js/main.js
Labels: valid PR, pass, SP2

#282 sata03-sp2
  www/sata03/sp2/css/style.css
  www/sata03/sp2/index.html
  www/sata03/sp2/js/main.js
  www/sata03/sp2/main.js
  www/sata03/sp2/src/clear icon.png
  www/sata03/sp2/src/clear.png
  www/sata03/sp2/src/clouds icon.png
  www/sata03/sp2/src/clouds.png
  www/sata03/sp2/src/drizzle icon.png
  www/sata03/sp2/src/drizzle.png
  www/sata03/sp2/src/mist icon.png
  www/sata03/sp2/src/mist.png
  www/sata03/sp2/src/rain icon.png
  www/sata03/sp2/src/rain.png
  www/sata03/sp2/src/search.png
  www/sata03/sp2/src/snow icon.png
  www/sata03/sp2/src/snow.png
  www/sata03/sp2/src/star.png
  www/sata03/sp2/src/thunderstorm icon.png
  www/sata03/sp2/src/thunderstorm.png
  www/sata03/sp2/style.css
Labels: SP2, pending, late PR

#148 wole00-sp2
  www/wole00/sp2/assets/css/styles.css
  www/wole00/sp2/assets/imgs/favicon.ico
  www/wole00/sp2/assets/js/jquery-3.7.1.min.js
  www/wole00/sp2/assets/js/script.js
  www/wole00/sp2/index.html
Labels: valid PR, pass, SP2

#292 feja02-sp2
  www/feja02/sp2/.eslintrc.json
  www/feja02/sp2/README.md
  www/feja02/sp2/package-lock.json
  www/feja02/sp2/package.json
  www/feja02/sp2/public/css/styles.css
  www/feja02/sp2/public/favicon.ico.bck
  www/feja02/sp2/public/index.html
  www/feja02/sp2/public/logo192.png
  www/feja02/sp2/public/logo192.png.bck
  www/feja02/sp2/public/logo512.png
  www/feja02/sp2/public/logo512.png.bck
  www/feja02/sp2/public/manifest.json
  www/feja02/sp2/public/robots.txt
  www/feja02/sp2/src/App.js
  www/feja02/sp2/src/components/About.js
  www/feja02/sp2/src/components/BackToMenuButton.js
  www/feja02/sp2/src/components/Footer.js
  www/feja02/sp2/src/components/Header.js
  www/feja02/sp2/src/components/Loading.js
  www/feja02/sp2/src/components/Menu.js
  www/feja02/sp2/src/components/MenuButton.js
  www/feja02/sp2/src/components/Quiz.js
  www/feja02/sp2/src/components/QuizHistory.js
  www/feja02/sp2/src/components/Selection.js
  www/feja02/sp2/src/index.css
  www/feja02/sp2/src/index.js
  www/feja02/sp2/src/reportWebVitals.js
Labels: pass, SP2, late PR
